<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home Page</title>
    <style>
        table {
            margin: 0 auto;
            width: 95%;
            clear: both;
            border-collapse: collapse;
            table-layout: fixed;
            word-wrap: break-word;
        }
    </style>
</head>

<body>
    {% block content %}
    {{ data.to_html() | safe}}
    {% endblock %}
</body>


</html>